vtu {
  display: table;
  margin: 100px;
  padding: 10px;
  font-size: 35px;
}

student {
  display: table-row;
  border: solid 1px;
}

student::before {
  display: table-cell;
  border: solid 1px;
  content: attr(usn);
}

student::after {
  display: table-cell;
  border: solid 1px;
  content: attr(college);
}

f, m, l, yoj, branch, email {
  display: table-cell;
  margin: 15px;
  padding: 15px;
  border: solid 1px;
}
